# Static Configuration

defaultEntryPoints = ["https","http"]

[api]
  dashboard = true
  insecure = true

[entryPoints]
  [entryPoints.http]
    address = ":80"

    [entryPoints.http.http]
      [entryPoints.http.http.redirections]
        [entryPoints.http.http.redirections.entryPoint]
          to = "https"
          scheme = "https"

  [entryPoints.https]
    address = ":443"
    [entryPoints.https.http.tls]
      certResolver = "myresolver"

[certificatesResolvers.myresolver.acme]
  email = "{{ traefik_email }}"
  storage = "/etc/traefik/acme/acme.json"
  [certificatesResolvers.myresolver.acme.tlsChallenge]

[docker]
  exposedByDefault = false
